.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  margin: auto;
  position: relative;
  padding: 36px;
  background-color: white;
  border-radius: 10px;
  max-width: 430px;
}

.modal__heading {
  color: black;
  width: 330px;
  height: 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  margin-top: 0;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  gap: 20px;
}

.modal__form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.modal__button {
  margin-top: 15px;
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 2px;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.modal__button_disabled {
  background-color: white;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
}

.modal__error {
  font-size: 12px;
  line-height: 15px;
  color: red;
  height: 15px; /* Fixed height */
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__error_visible {
  opacity: 1;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  top: -45px;
  right: -45px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.js-preview-modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.modal__title {
  position: absolute;
  bottom: -50px;
  left: 0;
}

.js-preview-modal .modal__container {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  max-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Phone Display */
@media screen and (max-width: 320px) {
  .modal__container {
    margin: 123px 19px 0 19px;
    width: 282px;
    height: 322px;
    padding: 25px;
    border: 1px solid #000;
    max-width: none;
  }

  .modal__heading {
    font-size: 18px;
    width: auto;
    height: auto;
  }

  .modal__button {
    font-size: 14px;
  }

  .modal__form {
    width: 100%;
    margin-top: 75px;
  }

  .modal__close {
    top: -40px;
    right: 0;
    width: 26px;
    height: 26px;
  }
}
